.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/mnimalist-interior-design-singapore-1.jpg")}
.u-section-1 .u-sheet-1 {min-height: 696px}
.u-section-1 .u-group-1 {width: 554px; min-height: 452px; margin: 78px 0 60px auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-size: 3rem; font-weight: 300; line-height: 1.2; letter-spacing: 0; background-image: none; margin: 33px 0 0}
.u-section-1 .u-btn-1 {text-transform: uppercase; border-style: none; background-image: none; box-shadow: 0 0 34px 0 rgba(83,33,43,0.85); margin: 51px auto 0; padding: 14px 46px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 574px} }

@media (max-width: 991px){ .u-section-1 {background-position: 18.31% 44.04%; background-size: auto 115%}
.u-section-1 .u-sheet-1 {min-height: 440px}
.u-section-1 .u-group-1 {margin-top: 60px}
.u-section-1 .u-container-layout-1 {padding-top: 29px; padding-bottom: 29px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 330px}
.u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 208px}
.u-section-1 .u-group-1 {width: 340px}
.u-section-1 .u-text-1 {font-size: 1.5rem; margin-top: 29px}
.u-section-1 .u-btn-1 {margin-top: 60px; margin-left: 42px} }.u-section-2 .u-group-1 {width: 888px; min-height: 330px; margin: 60px auto}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {font-size: 3rem; line-height: 1.4; margin: 0 40px} 

@media (max-width: 991px){ .u-section-2 .u-group-1 {width: 720px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-group-1 {width: 540px; min-height: 396px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {margin-left: -10px; margin-right: -10px} }

@media (max-width: 575px){ .u-section-2 {min-height: 462px}
.u-section-2 .u-group-1 {min-height: 463px; margin-top: 0; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-1 {font-size: 2.125rem; line-height: 1.2; margin-left: 21px; margin-right: 21px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 541px}
.u-section-3 .u-layout-wrap-1 {pointer-events: auto; width: 1240px; margin: 15px -50px}
.u-section-3 .u-layout-cell-1 {min-height: 520px; pointer-events: auto}
.u-section-3 .u-container-layout-1 {padding: 30px 60px 30px 50px}
.u-section-3 .u-text-1 {font-size: 3rem; margin: 51px 0 0}
.u-section-3 .u-btn-1 {font-size: 1.25rem; box-shadow: 0 0 40px 0 rgba(244,103,131,1); background-image: none; border-style: none; animation-duration: 2000ms; font-weight: normal; margin: 98px auto 0 125px; padding: 11px 43px}
.u-section-3 .u-image-1 {min-height: 520px; pointer-events: auto; background-image: url("images/Untitleddesign.png"); background-position: 50% 45.37%}
.u-section-3 .u-container-layout-2 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 24px}
.u-section-3 .u-layout-wrap-1 {width: 940px; margin-right: 0; margin-left: 0}
.u-section-3 .u-layout-cell-1 {min-height: 432px}
.u-section-3 .u-text-1 {font-size: 2.375rem; margin-top: 43px; margin-left: 1px; margin-right: 1px}
.u-section-3 .u-btn-1 {font-weight: 700; margin-top: 67px; margin-left: 67px}
.u-section-3 .u-image-1 {min-height: 353px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 492px}
.u-section-3 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-text-1 {font-size: 1.875rem; margin-top: 0; margin-left: 0; margin-right: 0}
.u-section-3 .u-btn-1 {margin-top: 52px; margin-left: 52px; padding-right: 22px; padding-bottom: 12px; padding-left: 20px}
.u-section-3 .u-image-1 {min-height: 302px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 260px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {margin-left: 37px; margin-right: 37px}
.u-section-3 .u-btn-1 {margin-top: 26px; margin-left: auto}
.u-section-3 .u-image-1 {min-height: NaNpx}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 675px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-3 .u-btn-1 {font-size: 1rem; padding-right: 24px; padding-left: 22px}
.u-section-3 .u-image-1 {min-height: 309px} }.u-section-4 {min-height: 1090px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-4 .u-image-1 {background-image: url("images/image.png"); background-position: 50% 50%; min-height: 1090px}
.u-section-4 .u-container-layout-1 {padding: 30px 60px}
.u-section-4 .u-layout-cell-2 {min-height: 175px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-1 {font-size: 3.75rem; background-image: none; margin: 0 13px}
.u-section-4 .u-layout-cell-3 {min-height: 915px}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-list-1 {min-height: 795px; grid-template-columns: calc(((100% - 1140px) / 2) + 556px) calc(((100% - 1140px) / 2) + 556px); grid-template-rows: auto; grid-gap: 27px 27px; width: 550px; margin: 0 auto}
.u-section-4 .u-list-item-1 {box-shadow: 4px 4px 21px 7px rgba(114,0,23,0.1); background-size: auto}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-icon-1 {height: 64px; width: 64px; margin: 13px auto 0}
.u-section-4 .u-text-2 {font-size: 1.5rem; font-weight: 700; background-image: none; margin: 67px auto 0}
.u-section-4 .u-list-item-2 {box-shadow: 4px 4px 21px 7px rgba(114,0,23,0.1)}
.u-section-4 .u-container-layout-5 {padding: 30px}
.u-section-4 .u-icon-2 {height: 64px; width: 64px; margin: 13px auto 0}
.u-section-4 .u-text-3 {font-size: 1.5rem; font-weight: 700; background-image: none; margin: 67px auto 0}
.u-section-4 .u-list-item-3 {box-shadow: 4px 4px 21px 7px rgba(114,0,23,0.1); background-size: auto}
.u-section-4 .u-container-layout-6 {padding: 30px}
.u-section-4 .u-icon-3 {height: 64px; width: 64px; margin: 13px auto 0}
.u-section-4 .u-text-4 {font-size: 1.5rem; font-weight: 700; background-image: none; margin: 67px auto 0}
.u-section-4 .u-list-item-4 {box-shadow: 4px 4px 21px 7px rgba(114,0,23,0.1); background-size: auto}
.u-section-4 .u-container-layout-7 {padding: 30px}
.u-section-4 .u-icon-4 {height: 64px; width: 64px; margin: 13px auto 0}
.u-section-4 .u-text-5 {font-size: 1.5rem; font-weight: 700; background-image: none; margin: 67px auto 0}
.u-section-4 .u-list-item-5 {box-shadow: 4px 4px 21px 7px rgba(114,0,23,0.1); background-size: auto}
.u-section-4 .u-container-layout-8 {padding: 30px}
.u-section-4 .u-icon-5 {height: 64px; width: 64px; margin: 13px auto 0}
.u-section-4 .u-text-6 {font-size: 1.5rem; font-weight: 700; background-image: none; margin: 67px auto 0}
.u-section-4 .u-list-item-6 {box-shadow: 4px 4px 21px 7px rgba(114,0,23,0.1); background-size: auto}
.u-section-4 .u-container-layout-9 {padding: 30px}
.u-section-4 .u-icon-6 {height: 64px; width: 64px; margin: 13px auto 0}
.u-section-4 .u-text-7 {font-size: 1.5rem; font-weight: 700; background-image: none; margin: 67px auto 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 268px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 1129px; background-position: 30.42% 50%}
.u-section-4 .u-layout-cell-2 {min-height: 196px}
.u-section-4 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-4 .u-layout-cell-3 {min-height: 933px}
.u-section-4 .u-list-1 {min-height: 593px; grid-template-columns: calc(((100% - 940px) / 2)  + 456px) calc(((100% - 940px) / 2)  + 456px); height: auto; margin-top: -30px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 991px){ .u-section-4 {min-height: 614px}
.u-section-4 .u-layout-wrap-1 {min-height: 171px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 1730px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-list-1 {grid-template-columns: 100%; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-4 {min-height: 437px}
.u-section-4 .u-image-1 {min-height: 1298px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-9 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 {min-height: 240px}
.u-section-4 .u-image-1 {min-height: 817px}
.u-section-4 .u-text-1 {font-size: 3rem} }.u-section-5 .u-sheet-1 {min-height: 1031px}
.u-section-5 .u-group-1 {min-height: 151px; margin: 41px auto 0 0}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-text-1 {font-weight: 700; margin: 0}
.u-section-5 .u-shape-1 {height: 435px; width: 692px; background-image: none; margin: 109px 184px 0 auto}
.u-section-5 .u-image-1 {width: 685px; height: 430px; box-shadow: 10px 9px 20px 6px rgba(0,0,0,0.4); margin: -519px auto 0 188px}
.u-section-5 .u-group-2 {min-height: 192px; width: 1020px; margin: 109px auto 60px 60px}
.u-section-5 .u-container-layout-2 {padding: 20px 60px}
.u-section-5 .u-text-2 {font-size: 1.5rem; font-weight: 700; width: 711px; margin: 42px auto 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 1022px}
.u-section-5 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-shape-1 {margin-top: 87px; margin-right: auto}
.u-section-5 .u-image-1 {margin-top: -486px; margin-left: 64px}
.u-section-5 .u-group-2 {width: 940px; margin-top: 98px; margin-left: 0}
.u-section-5 .u-container-layout-2 {padding-left: 49px; padding-right: 49px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 1069px}
.u-section-5 .u-shape-1 {height: 408px; width: 654px; margin-top: 96px; margin-right: 0}
.u-section-5 .u-image-1 {width: 614px; height: 385px; margin-top: -462px; margin-left: 33px}
.u-section-5 .u-group-2 {margin-top: 137px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-text-2 {width: 660px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 950px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-shape-1 {height: 336px; width: 523px; margin-top: 101px}
.u-section-5 .u-image-1 {width: 506px; height: 303px; margin-top: -358px; margin-left: -21px}
.u-section-5 .u-group-2 {margin-top: 110px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-2 {width: 520px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 776px}
.u-section-5 .u-container-layout-1 {padding-top: 24px}
.u-section-5 .u-shape-1 {height: 211px; margin-top: 82px; width: 340px}
.u-section-5 .u-image-1 {height: 204px; width: 340px; margin-top: -252px; margin-left: -27px}
.u-section-5 .u-group-2 {margin-top: 80px; margin-bottom: 58px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-2 {padding-top: 9px; padding-bottom: 7px}
.u-section-5 .u-text-2 {font-size: 1rem; margin-top: 71px; margin-left: 0; margin-right: 0; width: 320px} }.u-section-6 {background-image: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("images/pexels-photo-325185.jpeg"); background-position: 50% 50%}
.u-section-6 .u-sheet-1 {min-height: 1051px}
.u-section-6 .u-image-1 {width: 440px; height: 586px; margin: 60px -50px 15px}
.u-section-6 .u-table-1 {margin: 90px auto 0 0}
.u-section-6 .u-table-header-1 {background-image: none; text-transform: uppercase; font-weight: 700; letter-spacing: 2px}
.u-section-6 .u-table-cell-1 {background-image: none}
.u-section-6 .u-table-cell-2 {background-image: none}
.u-section-6 .u-table-cell-3 {font-weight: 400; letter-spacing: 2px}
.u-section-6 .u-text-icon-1 {font-size: 2em}
.u-section-6 .u-text-icon-2 {font-size: 2em}
.u-section-6 .u-text-icon-3 {font-size: 2em}
.u-section-6 .u-text-icon-4 {font-size: 2em}
.u-section-6 .u-text-icon-5 {font-size: 2em}
.u-section-6 .u-text-icon-6 {font-size: 2em}
.u-section-6 .u-text-icon-7 {font-size: 2em}
.u-section-6 .u-text-icon-8 {font-size: 2em}
.u-section-6 .u-text-icon-9 {font-size: 2em}
.u-section-6 .u-text-icon-10 {font-size: 2em}
.u-section-6 .u-text-icon-11 {font-size: 2em}
.u-section-6 .u-text-icon-12 {font-size: 2em}
.u-section-6 .u-text-icon-13 {font-size: 2em}
.u-section-6 .u-text-icon-14 {font-size: 2em}
.u-section-6 .u-text-icon-15 {font-size: 2em}
.u-section-6 .u-text-icon-16 {font-size: 2em}
.u-section-6 .u-text-icon-17 {font-size: 2em}
.u-section-6 .u-text-icon-18 {font-size: 2em}
.u-section-6 .u-text-icon-19 {font-size: 2em}
.u-section-6 .u-image-2 {width: 231px; height: 55px; object-position: 43.44% 50%; margin: -896px auto 60px} 

@media (max-width: 1199px){ .u-section-6 {background-position: 50% 25.34%}
.u-section-6 .u-sheet-1 {min-height: 1049px}
.u-section-6 .u-table-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-table-entity-1 {height: 366px}
.u-section-6 .u-text-icon-1 {font-size: 2rem}
.u-section-6 .u-text-icon-2 {font-size: 2rem}
.u-section-6 .u-text-icon-3 {font-size: 2rem}
.u-section-6 .u-text-icon-4 {font-size: 2rem}
.u-section-6 .u-text-icon-5 {font-size: 2rem}
.u-section-6 .u-text-icon-6 {font-size: 2rem}
.u-section-6 .u-text-icon-7 {font-size: 2rem}
.u-section-6 .u-text-icon-8 {font-size: 2rem}
.u-section-6 .u-text-icon-9 {font-size: 2rem}
.u-section-6 .u-text-icon-10 {font-size: 2rem}
.u-section-6 .u-text-icon-11 {font-size: 2rem}
.u-section-6 .u-text-icon-12 {font-size: 2rem}
.u-section-6 .u-text-icon-13 {font-size: 2rem}
.u-section-6 .u-text-icon-14 {font-size: 2rem}
.u-section-6 .u-text-icon-15 {font-size: 2rem}
.u-section-6 .u-text-icon-16 {font-size: 2rem}
.u-section-6 .u-text-icon-17 {font-size: 2rem}
.u-section-6 .u-text-icon-18 {font-size: 2rem}
.u-section-6 .u-text-icon-19 {font-size: 2rem}
.u-section-6 .u-image-2 {width: 218px; margin-top: -897px; margin-right: 355px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 1041px}
.u-section-6 .u-image-2 {width: 191px; height: 46px; margin-top: -892px; margin-right: auto} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 654px}
.u-section-6 .u-image-1 {margin: 24px auto 0 40px}
.u-section-6 .u-table-cell-3 {letter-spacing: 0}
.u-section-6 .u-image-2 {margin-top: -846px; margin-left: 69px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 513px}
.u-section-6 .u-image-1 {height: 453px; width: 340px; margin-left: 0} }.u-section-7 {background-image: none}
.u-section-7 .u-sheet-1 {min-height: 541px}
.u-section-7 .u-text-1 {font-weight: 700; font-size: 3rem; margin: 2px auto 0}
.u-section-7 .u-text-2 {margin: 20px auto 0}
.u-section-7 .u-list-1 {margin-top: 20px; margin-bottom: 0; min-height: 269px; grid-template-columns: repeat(3, calc(33.3333% - 7px)); grid-gap: 10px}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-text-3 {font-weight: 900; font-size: 12.5rem; animation-duration: 1000ms; margin: 0 auto}
.u-section-7 .u-text-4 {font-weight: 700; margin: -147px 0 0}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-text-5 {font-weight: 900; font-size: 12.5rem; animation-duration: 1000ms; margin: 0 auto}
.u-section-7 .u-text-6 {font-weight: 700; margin: -147px 0 0}
.u-section-7 .u-container-layout-3 {padding: 30px}
.u-section-7 .u-text-7 {font-weight: 900; font-size: 12.5rem; animation-duration: 1000ms; margin: 0 auto}
.u-section-7 .u-text-8 {font-weight: 700; margin: -147px 0 0}
.u-section-7 .u-btn-1 {background-image: none; border-style: solid; font-size: 1.5rem; letter-spacing: 2px; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 496px}
.u-section-7 .u-list-1 {min-height: 259px; height: auto}
.u-section-7 .u-text-3 {margin-left: 7px; margin-right: 7px}
.u-section-7 .u-text-4 {margin-right: auto}
.u-section-7 .u-text-5 {margin-left: 7px; margin-right: 7px}
.u-section-7 .u-text-6 {margin-right: auto}
.u-section-7 .u-text-7 {margin-left: 7px; margin-right: 7px}
.u-section-7 .u-text-8 {margin-right: auto} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 741px}
.u-section-7 .u-text-1 {margin-top: 0; margin-left: 0; margin-right: 0}
.u-section-7 .u-list-1 {min-height: 595px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px))}
.u-section-7 .u-text-3 {margin-left: 5px; margin-right: 5px}
.u-section-7 .u-text-5 {margin-left: 5px; margin-right: 5px}
.u-section-7 .u-text-7 {margin-left: 5px; margin-right: 5px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 1069px}
.u-section-7 .u-text-1 {width: 299px}
.u-section-7 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-7 .u-list-1 {min-height: 807px; grid-template-columns: 100%; width: 295px; margin-left: auto; margin-right: auto}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-3 {margin-left: 4px; margin-right: 4px}
.u-section-7 .u-text-4 {margin-right: 0}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-5 {margin-left: 4px; margin-right: 4px}
.u-section-7 .u-text-6 {margin-right: 0}
.u-section-7 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-7 {margin-left: 4px; margin-right: 4px}
.u-section-7 .u-text-8 {margin-right: 0} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 976px}
.u-section-7 .u-text-1 {margin-top: 37px; margin-left: 21px; margin-right: 21px}
.u-section-7 .u-text-2 {margin-top: 19px; margin-right: auto}
.u-section-7 .u-list-1 {min-height: 695px; grid-gap: 10px 10px; margin-top: -16px; margin-left: 23px}
.u-section-7 .u-text-3 {margin-left: 2px; margin-right: 2px}
.u-section-7 .u-text-5 {margin-left: 2px; margin-right: 2px}
.u-section-7 .u-text-7 {margin-left: 2px; margin-right: 2px} }.u-section-8 .u-sheet-1 {min-height: 729px}
.u-section-8 .u-group-1 {width: 713px; min-height: 278px; margin: 181px 60px 0 auto}
.u-section-8 .u-container-layout-1 {padding: 30px 30px 30px 390px}
.u-section-8 .u-text-1 {margin: 0}
.u-section-8 .u-text-2 {margin-left: auto; margin-right: 0; margin-bottom: 0}
.u-section-8 .u-btn-1 {border-style: none none solid; padding: 0}
.u-section-8 .u-text-3 {font-weight: 700; font-size: 3rem; margin: -404px auto 0}
.u-section-8 .u-image-1 {width: 460px; height: 323px; margin: 179px auto 0 72px}
.u-section-8 .u-image-2 {width: 241px; height: 194px; margin: -246px 269px 0 auto}
.u-section-8 .u-image-3 {width: 303px; height: 255px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: -410px auto 0}
.u-section-8 .u-text-4 {width: 182px; margin: 247px auto -8px}
.u-section-8 .u-btn-2 {border-style: none none solid; padding: 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 730px}
.u-section-8 .u-image-1 {width: 432px; margin-top: 178px; margin-left: 0}
.u-section-8 .u-image-2 {margin-top: -228px; margin-right: 227px}
.u-section-8 .u-image-3 {height: 283px; margin-top: -436px; margin-left: 212px}
.u-section-8 .u-text-4 {margin: 227px 379px 55px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 793px}
.u-section-8 .u-group-1 {width: 658px; margin-top: 212px; margin-right: 24px}
.u-section-8 .u-container-layout-1 {padding-left: 365px}
.u-section-8 .u-text-3 {margin-top: -435px; margin-left: 38px; margin-right: 38px}
.u-section-8 .u-image-1 {width: 329px; height: 304px; margin-top: 275px}
.u-section-8 .u-image-2 {height: 215px; margin-top: -249px; margin-right: 0}
.u-section-8 .u-image-3 {margin-top: -495px; margin-left: 65px}
.u-section-8 .u-text-4 {margin: 269px auto -8px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 877px}
.u-section-8 .u-group-1 {margin-top: 181px; margin-right: initial; margin-left: initial; width: auto}
.u-section-8 .u-container-layout-1 {padding-left: 255px}
.u-section-8 .u-text-3 {font-size: 2.25rem; margin-top: -404px; margin-left: 0; margin-right: 0}
.u-section-8 .u-image-1 {height: 305px; margin-top: 305px}
.u-section-8 .u-image-2 {margin-top: -93px}
.u-section-8 .u-image-3 {width: 190px; height: 201px; margin-top: -700px; margin-left: 32px}
.u-section-8 .u-text-4 {width: auto; margin: 531px 171px 55px 187px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 1043px}
.u-section-8 .u-group-1 {margin-top: 177px; width: auto; margin-right: initial; margin-left: initial}
.u-section-8 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-8 .u-text-3 {margin-top: -400px; margin-left: -1px; margin-right: -1px}
.u-section-8 .u-image-1 {width: 266px; height: 247px; margin-top: 244px; margin-left: -1px}
.u-section-8 .u-image-2 {margin-top: -54px; margin-right: -1px}
.u-section-8 .u-image-3 {width: 245px; height: 187px; margin-top: -46px; margin-left: -1px}
.u-section-8 .u-text-4 {width: 182px; margin-top: 35px; margin-left: auto; margin-right: auto} }.u-section-9 {background-image: url("images/gfb.jpg"); background-position: 50% 50%; min-height: 42px}
.u-section-9 .u-group-1 {width: 800px; min-height: 201px; margin: 35px auto 0}
.u-section-9 .u-container-layout-1 {padding: 30px}
.u-section-9 .u-text-1 {font-size: 3rem; font-weight: 700; letter-spacing: 2px; margin: 0}
.u-section-9 .u-text-2 {font-size: 1rem; text-transform: uppercase; font-weight: 300; font-style: normal; margin: 18px 0 0}
.u-section-9 .u-btn-1 {border-style: none none solid; padding: 0}
.u-section-9 .u-image-1 {object-position: 50% 0%; width: 710px; height: 654px; margin: 6px 0 0 auto}
.u-section-9 .u-list-1 {width: 692px; min-height: 604px; grid-template-columns: repeat(2, calc(((100% - 1140px) / 2) + 565px)); grid-gap: 10px; margin: -653px auto 49px calc(((100% - 1140px) / 2))}
.u-section-9 .u-container-layout-2 {padding: 30px}
.u-section-9 .u-icon-1 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-9 .u-text-3 {text-transform: uppercase; letter-spacing: 2px; margin: 20px 2px 0}
.u-section-9 .u-text-4 {margin-left: 3px; margin-right: 3px}
.u-section-9 .u-container-layout-3 {padding: 30px}
.u-section-9 .u-icon-2 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-9 .u-text-5 {text-transform: uppercase; letter-spacing: 2px; margin: 20px 2px 0}
.u-section-9 .u-text-6 {margin-left: 3px; margin-right: 3px}
.u-section-9 .u-container-layout-4 {padding: 30px}
.u-section-9 .u-icon-3 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-9 .u-text-7 {text-transform: uppercase; letter-spacing: 2px; margin: 20px 2px 0}
.u-section-9 .u-text-8 {margin-left: 3px; margin-right: 3px}
.u-section-9 .u-container-layout-5 {padding: 30px}
.u-section-9 .u-icon-4 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-9 .u-text-9 {text-transform: uppercase; letter-spacing: 2px; margin: 20px 2px 0}
.u-section-9 .u-text-10 {margin-left: 3px; margin-right: 3px} 

@media (max-width: 1199px){ .u-section-9 .u-image-1 {object-position: 8.91% 0%; width: 692px; height: 737px; margin-top: 12px}
.u-section-9 .u-list-1 {width: 488px; min-height: 742px; grid-template-columns: repeat(2, 50%); height: auto; margin-top: -742px; margin-bottom: 1px; margin-left: calc(((100% - 940px) / 2)); grid-gap: 0} }

@media (max-width: 991px){ .u-section-9 {min-height: 32px}
.u-section-9 .u-group-1 {width: 720px; margin-top: 9px}
.u-section-9 .u-image-1 {width: 770px; height: 736px; margin-top: 621px}
.u-section-9 .u-list-1 {width: 720px; min-height: 594px; margin-top: -1350px; margin-left: auto; margin-bottom: 60px} }

@media (max-width: 767px){ .u-section-9 {min-height: 24px}
.u-section-9 .u-group-1 {width: 540px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-1 {height: 516px; margin-top: 667px; margin-right: initial; margin-left: initial; width: auto}
.u-section-9 .u-list-1 {width: 540px; margin-top: -1176px; margin-bottom: 40px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-4 {margin-left: 2px; margin-right: 2px}
.u-section-9 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-5 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-6 {margin-left: 2px; margin-right: 2px}
.u-section-9 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-7 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-8 {margin-left: 2px; margin-right: 2px}
.u-section-9 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-9 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-10 {margin-left: 2px; margin-right: 2px} }

@media (max-width: 575px){ .u-section-9 {min-height: 15px}
.u-section-9 .u-group-1 {width: 340px; margin-top: 30px}
.u-section-9 .u-text-1 {font-size: 2.25rem}
.u-section-9 .u-image-1 {height: 403px; margin-top: 1226px; width: auto; margin-right: initial; margin-left: initial}
.u-section-9 .u-list-1 {width: 340px; min-height: 1188px; grid-template-columns: 100%; margin-top: -1622px; margin-bottom: -431px}
.u-section-9 .u-text-4 {margin-left: 1px; margin-right: 1px}
.u-section-9 .u-text-6 {margin-left: 1px; margin-right: 1px}
.u-section-9 .u-text-8 {margin-left: 1px; margin-right: 1px}
.u-section-9 .u-text-10 {margin-left: 1px; margin-right: 1px} }.u-section-10 {min-height: 1157px}
.u-section-10 .u-group-1 {width: calc(((100% - 1140px) / 2) + 720px); min-height: 250px; margin: 693px 0 0 auto}
.u-section-10 .u-container-layout-1 {padding: 30px}
.u-section-10 .u-layout-wrap-1 {width: 1140px; margin: -883px auto 0}
.u-section-10 .u-image-1 {background-image: url("images/handsome-young-businessman-shirt-eyeglasses_85574-6228.jpg"); min-height: 582px; background-position: 50% 50%}
.u-section-10 .u-container-layout-2 {padding: 30px}
.u-section-10 .u-layout-cell-2 {min-height: 582px}
.u-section-10 .u-container-layout-3 {padding: 30px 0 30px 30px}
.u-section-10 .u-text-1 {font-weight: 700; font-size: 4.5rem; letter-spacing: 2px; text-transform: none; margin: 0 10px 0 30px}
.u-section-10 .u-image-2 {height: 395px; margin: 31px auto 0}
.u-section-10 .u-layout-cell-3 {min-height: 415px}
.u-section-10 .u-container-layout-4 {padding: 30px}
.u-section-10 .u-btn-1 {text-transform: uppercase; font-weight: 700; margin: 0 auto; padding: 53px 90px 53px 89px}
.u-section-10 .u-image-3 {background-image: url("images/dgrt.jpg"); min-height: 415px; background-position: 50% 50%}
.u-section-10 .u-container-layout-5 {padding: 30px}
.u-section-10 .u-image-4 {background-image: url("images/drtg.jpg"); min-height: 415px; background-position: 50% 50%}
.u-section-10 .u-container-layout-6 {padding: 20px 0 0}
.u-section-10 .u-text-2 {width: 182px; margin: 30px calc(((100% - 1140px) / 2) + 479px) -220px}
.u-section-10 .u-btn-2 {border-style: none none solid; padding: 0} 

@media (max-width: 1199px){ .u-section-10 {min-height: 982px}
.u-section-10 .u-group-1 {width: calc(((100% - 940px) / 2) + 562px); min-height: 229px; margin-top: 625px}
.u-section-10 .u-layout-wrap-1 {width: 940px; margin-top: -794px; position: relative}
.u-section-10 .u-image-1 {min-height: 480px}
.u-section-10 .u-layout-cell-2 {min-height: 480px}
.u-section-10 .u-text-1 {position: relative; margin-left: 0; margin-right: 0}
.u-section-10 .u-image-2 {height: 318px; position: relative; margin-right: initial; margin-left: initial}
.u-section-10 .u-layout-cell-3 {min-height: 342px}
.u-section-10 .u-btn-1 {margin-left: 0; margin-right: 0; padding: 40px 71px 40px 69px}
.u-section-10 .u-image-3 {min-height: 342px}
.u-section-10 .u-image-4 {min-height: 342px}
.u-section-10 .u-text-2 {margin-left: calc(((100% - 940px) / 2) + 395px); margin-right: calc(((100% - 940px) / 2) + 395px)} }

@media (max-width: 991px){ .u-section-10 {min-height: 829px}
.u-section-10 .u-group-1 {width: calc(((100% - 720px) / 2) + 417px); min-height: 163px; margin-top: 500px}
.u-section-10 .u-layout-wrap-1 {width: 720px; margin-top: -602px}
.u-section-10 .u-image-1 {min-height: 368px}
.u-section-10 .u-layout-cell-2 {min-height: 100px}
.u-section-10 .u-text-1 {font-size: 3.75rem}
.u-section-10 .u-image-2 {height: 233px; margin-right: initial; margin-left: initial}
.u-section-10 .u-layout-cell-3 {min-height: 100px}
.u-section-10 .u-btn-1 {padding: 27px 33px}
.u-section-10 .u-image-3 {min-height: 262px}
.u-section-10 .u-image-4 {min-height: 262px}
.u-section-10 .u-text-2 {margin-left: calc(((100% - 720px) / 2) + 303px); margin-right: calc(((100% - 720px) / 2) + 303px); margin-bottom: -181px} }

@media (max-width: 767px){ .u-section-10 {min-height: 1742px}
.u-section-10 .u-group-1 {width: 376px; min-height: 683px; margin-top: 1488px}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-layout-wrap-1 {width: 540px; margin-top: -2111px}
.u-section-10 .u-image-1 {min-height: 552px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-container-layout-3 {padding-left: 10px}
.u-section-10 .u-image-2 {height: 404px; margin-right: initial; margin-left: initial}
.u-section-10 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-3 {min-height: 590px}
.u-section-10 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-4 {min-height: 590px}
.u-section-10 .u-text-2 {margin-left: calc(((100% - 540px) / 2) + 227px); margin-right: calc(((100% - 540px) / 2) + 227px); margin-bottom: 60px} }

@media (max-width: 575px){ .u-section-10 {min-height: 1805px}
.u-section-10 .u-group-1 {width: calc(((100% - 340px) / 2) + 290px); min-height: 426px; margin-top: 1077px}
.u-section-10 .u-layout-wrap-1 {width: 340px; margin-top: -1442px}
.u-section-10 .u-image-1 {min-height: 348px}
.u-section-10 .u-text-1 {font-size: 2.25rem}
.u-section-10 .u-image-2 {height: 249px; margin-right: initial; margin-left: initial}
.u-section-10 .u-image-3 {min-height: 371px}
.u-section-10 .u-image-4 {min-height: 371px}
.u-section-10 .u-text-2 {margin-left: calc(((100% - 340px) / 2) + 143px); margin-right: calc(((100% - 340px) / 2) + 143px); margin-bottom: -351px} }.u-section-11 {min-height: 764px}
.u-section-11 .u-shape-1 {height: 429px; width: calc(((100% - 1140px) / 2) + 535px); margin: 30px auto 0 0}
.u-section-11 .u-image-1 {width: 508px; height: 704px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: -566px auto 0 calc(((100% - 1140px) / 2))}
.u-section-11 .u-list-1 {width: 576px; min-height: 539px; grid-template-rows: repeat(3, auto); grid-template-columns: repeat(1, 100%); grid-gap: 10px; margin: -613px calc(((100% - 1140px) / 2)) -33px auto}
.u-section-11 .u-container-layout-1 {padding: 30px}
.u-section-11 .u-text-1 {font-weight: 700; margin: 0}
.u-section-11 .u-text-2 {margin: 14px 1px 0}
.u-section-11 .u-btn-1 {border-style: none none solid; padding: 0}
.u-section-11 .u-container-layout-2 {padding: 30px}
.u-section-11 .u-text-3 {font-weight: 700; margin: 0}
.u-section-11 .u-text-4 {margin: 14px 1px 0}
.u-section-11 .u-container-layout-3 {padding: 30px}
.u-section-11 .u-text-5 {font-weight: 700; margin: 0}
.u-section-11 .u-text-6 {margin: 14px 1px 0}
.u-section-11 .u-btn-2 {border-style: none none solid; padding: 0} 

@media (max-width: 1199px){ .u-section-11 {min-height: 766px}
.u-section-11 .u-shape-1 {width: calc(((100% - 940px) / 2) + 535px)}
.u-section-11 .u-image-1 {margin-left: calc(((100% - 940px) / 2))}
.u-section-11 .u-list-1 {width: 405px; min-height: 541px; grid-template-columns: 100%; height: auto; margin-right: calc(((100% - 940px) / 2)); margin-bottom: -35px} }

@media (max-width: 991px){ .u-section-11 .u-shape-1 {width: calc(((100% - 720px) / 2) + 535px); margin-top: 167px}
.u-section-11 .u-image-1 {margin-left: calc(((100% - 720px) / 2))}
.u-section-11 .u-list-1 {width: 720px; min-height: 491px; margin-top: 47px; margin-right: auto; margin-bottom: -335px} }

@media (max-width: 767px){ .u-section-11 .u-shape-1 {width: calc(((100% - 540px) / 2) + 535px)}
.u-section-11 .u-image-1 {margin-left: calc(((100% - 540px) / 2))}
.u-section-11 .u-list-1 {width: 540px}
.u-section-11 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-11 .u-shape-1 {height: 302px; width: calc(((100% - 340px) / 2) + 340px); margin-top: 127px}
.u-section-11 .u-image-1 {width: 301px; height: 451px; margin-top: -399px; margin-left: calc(((100% - 340px) / 2))}
.u-section-11 .u-list-1 {width: 340px; min-height: 566px; margin-top: 37px; margin-bottom: 30px}
.u-section-11 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-11 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-11 .u-text-6 {margin-left: 0; margin-right: 0} }.u-section-12 {background-image: none}
.u-section-12 .u-sheet-1 {min-height: 520px}
.u-section-12 .u-layout-wrap-1 {width: 776px; margin: 60px auto}
.u-section-12 .u-layout-cell-1 {min-height: 400px}
.u-section-12 .u-container-layout-1 {padding: 30px}
.u-section-12 .u-text-1 {margin-top: 0; font-size: 6rem; margin-bottom: 0}
.u-section-12 .u-text-2 {margin-left: 0; font-size: 1.875rem; font-weight: 700}
.u-section-12 .u-layout-cell-2 {min-height: 400px}
.u-section-12 .u-container-layout-2 {padding: 30px}
.u-section-12 .u-text-3 {margin-top: 0; line-height: 2; margin-bottom: 0}
.u-section-12 .u-btn-1 {margin-left: 0; background-image: none; border-style: solid; text-transform: uppercase; letter-spacing: 2px} 

@media (max-width: 1199px){ .u-section-12 .u-sheet-1 {min-height: 345px} }

@media (max-width: 991px){ .u-section-12 .u-layout-wrap-1 {width: 720px}
.u-section-12 .u-layout-cell-1 {min-height: 100px}
.u-section-12 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-12 .u-layout-wrap-1 {width: 540px}
.u-section-12 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-12 .u-layout-wrap-1 {width: 340px} }.u-section-13 {min-height: 601px}
.u-section-13 .u-layout-wrap-1 {width: calc(((100% - 1140px) / 2) + 1140px); margin: 0 0 0 auto}
.u-section-13 .u-layout-cell-1 {min-height: 601px}
.u-section-13 .u-container-layout-1 {padding: 30px 40px}
.u-section-13 .u-text-1 {font-style: italic; margin: 0}
.u-section-13 .u-btn-1 {border-style: none none solid; padding: 0}
.u-section-13 .u-form-1 {margin: 20px 0 0}
.u-section-13 .u-form-group-3 {margin-left: 0}
.u-section-13 .u-btn-2 {background-image: none; border-style: none; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px}
.u-section-13 .u-image-1 {min-height: 601px; background-image: url("images/5107h.jpg"); background-position: 50% 50%}
.u-section-13 .u-group-1 {width: 387px; min-height: 243px; margin: 0 auto 0 0}
.u-section-13 .u-container-layout-3 {padding: 30px}
.u-section-13 .u-text-2 {background-image: none; text-transform: none; font-weight: 400; font-size: 3rem; margin: 0} 

@media (max-width: 1199px){ .u-section-13 {min-height: 358px}
.u-section-13 .u-layout-wrap-1 {width: calc(((100% - 940px) / 2) + 940px)}
.u-section-13 .u-layout-cell-1 {min-height: 463px}
.u-section-13 .u-image-1 {min-height: 463px} }

@media (max-width: 991px){ .u-section-13 {min-height: 250px}
.u-section-13 .u-layout-wrap-1 {width: calc(((100% - 720px) / 2) + 720px); margin-top: 3px; margin-left: 50px}
.u-section-13 .u-layout-cell-1 {min-height: 355px}
.u-section-13 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-13 .u-image-1 {min-height: 355px}
.u-section-13 .u-group-1 {width: 355px; min-height: 172px}
.u-section-13 .u-container-layout-3 {padding-top: 25px}
.u-section-13 .u-text-2 {font-size: 2.25rem} }

@media (max-width: 767px){ .u-section-13 {min-height: 528px}
.u-section-13 .u-layout-wrap-1 {width: 540px; margin-left: 0; margin-right: auto}
.u-section-13 .u-layout-cell-1 {min-height: 100px}
.u-section-13 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-13 .u-image-1 {min-height: 533px}
.u-section-13 .u-container-layout-3 {padding-top: 30px} }

@media (max-width: 575px){ .u-section-13 {min-height: 331px}
.u-section-13 .u-layout-wrap-1 {width: 340px}
.u-section-13 .u-form-group-1 {width: 100%}
.u-section-13 .u-form-group-2 {width: 100%}
.u-section-13 .u-form-group-3 {width: 100%}
.u-section-13 .u-form-group-4 {width: 100%}
.u-section-13 .u-form-group-5 {width: 100%}
.u-section-13 .u-image-1 {min-height: 336px}
.u-section-13 .u-group-1 {width: 276px; min-height: 157px}
.u-section-13 .u-container-layout-3 {padding-top: 28px}
.u-section-13 .u-text-2 {font-size: 1.875rem} }.u-section-14 .u-sheet-1 {min-height: 497px}
.u-section-14 .u-list-1 {width: 660px; min-height: 398px; grid-template-rows: repeat(3, auto); grid-template-columns: repeat(1, 100%); grid-gap: 0; margin: 50px auto}
.u-section-14 .u-container-layout-1 {padding: 20px 30px}
.u-section-14 .u-icon-1 {height: 88px; width: 88px; margin: 0 auto 0 0}
.u-section-14 .u-text-1 {text-transform: uppercase; letter-spacing: 3px; font-weight: 700; font-size: 1.5rem; margin: -64px auto 0 102px}
.u-section-14 .u-text-2 {margin: 20px 0 0 102px}
.u-section-14 .u-list-item-2 {background-size: auto}
.u-section-14 .u-container-layout-2 {padding: 20px 30px}
.u-section-14 .u-icon-2 {height: 88px; width: 88px; margin: 0 auto 0 0}
.u-section-14 .u-text-3 {text-transform: uppercase; letter-spacing: 3px; font-weight: 700; font-size: 1.5rem; margin: -64px auto 0 102px}
.u-section-14 .u-text-4 {margin: 20px 0 0 102px}
.u-section-14 .u-list-item-3 {background-size: auto}
.u-section-14 .u-container-layout-3 {padding: 20px 30px}
.u-section-14 .u-icon-3 {height: 88px; width: 88px; margin: 0 auto 0 0}
.u-section-14 .u-text-5 {text-transform: uppercase; letter-spacing: 3px; font-weight: 700; font-size: 1.5rem; margin: -64px auto 0 102px}
.u-section-14 .u-text-6 {margin: 20px 0 0 102px} 

@media (max-width: 1199px){ .u-section-14 .u-sheet-1 {min-height: 539px}
.u-section-14 .u-list-1 {min-height: 439px; height: auto} }

@media (max-width: 991px){ .u-section-14 .u-sheet-1 {min-height: 557px}
.u-section-14 .u-list-1 {min-height: 457px} }

@media (max-width: 767px){ .u-section-14 .u-sheet-1 {min-height: 515px}
.u-section-14 .u-list-1 {width: 540px; min-height: 374px; margin-top: 5px; margin-bottom: 5px}
.u-section-14 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-14 .u-text-1 {width: auto; margin-right: 199px; margin-left: 86px}
.u-section-14 .u-text-2 {width: auto; margin-left: 86px}
.u-section-14 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-14 .u-text-3 {width: auto; margin-right: 199px; margin-left: 86px}
.u-section-14 .u-text-4 {width: auto; margin-left: 86px}
.u-section-14 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-14 .u-text-5 {width: auto; margin-right: 199px; margin-left: 86px}
.u-section-14 .u-text-6 {width: auto; margin-left: 86px} }

@media (max-width: 575px){ .u-section-14 .u-sheet-1 {min-height: 508px}
.u-section-14 .u-list-1 {width: 340px; min-height: 236px; margin-top: 50px; margin-bottom: 50px}
.u-section-14 .u-text-1 {margin-right: 0; margin-left: 85px}
.u-section-14 .u-text-2 {margin-left: 85px}
.u-section-14 .u-text-3 {margin-right: 0; margin-left: 85px}
.u-section-14 .u-text-4 {margin-left: 85px}
.u-section-14 .u-text-5 {margin-right: 0; margin-left: 85px}
.u-section-14 .u-text-6 {margin-left: 85px} }